.delete-button{
    background: rgb(165, 43, 43);
    border-color: rgb(165, 43, 43);
    border-radius: .3em;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    padding: .35em 1em;
    width: 7em;
    margin-left: .5em;
    margin-top: 1em;
    text-decoration: navajowhite;
    display: inline-block
}

.delete .content{
    grid-template-columns: 1fr !important;
    justify-items: center;
    background: #bbb;
    padding: 1em;
    border-radius: .5em;
}

.delete .content h1{
    color: yellow
}

.delete .content .buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10em;
}

.delete .content .buttons .deleteButton{
    background: rgb(165, 43, 43);
    border-color: rgb(165, 43, 43);
    padding: .5em 1.5em;
    border-radius: .4em;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

.delete .content .buttons .cancelButton{
    background: rgb(0, 128, 0);
    border-color: rgb(0, 128, 0);
    padding: .5em 1.5em;
    border-radius: .4em;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    outline: none
}