.cake-list{
    max-width: 75em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-bottom: 1em;
    margin: auto;
}

.select-cake{
    background: #2eaf73;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    border-color: #2eaf73;
    margin-right: .5em;
    outline: none;
    border-radius: .3em;
    padding: .35em 1em;
    width: 7em;
}

.cake-list .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5em;
    margin: auto;
}

.single-cake .content{
    background: #bbb;
    border-radius: .5em;
    padding: 0 1em 2em 1em;
    grid-template-columns: 1fr !important;
    justify-items: center;
    max-width: 45em;
    max-height: 45em;
    grid-gap: .5em;
}

.single-cake .content p{
    height: 8em;
    overflow-y: auto;
}

.cake-list .content img{
    width: 100%;
    height: 20em;
}

.cke-list h1{
    margin: 0;
}

.cakes-number{
    margin-bottom: 1em;
    font-size: 1.2em;
}

.cakes-number label{
    margin-right: .5em
}

.add-button,
.edit-button,
.delete-button{
    background: #2e2eaf;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    border-color: #2e2eaf;
    border-radius: .3em;
    outline: none;
    padding: .35em 1em;
    width: 7em;
    display: inline-block;
    text-decoration: navajowhite;
}

.delete-button{
    background: rgb(165, 43, 43);
    border-color: rgb(165, 43, 43);
    margin-left: .5em;
    margin-top: 1em;
}

@media (max-width: 767px){
    .cake-list{
        padding-left: 1em;
        padding-right: 1em;
    }
    .cake-list .content{
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }

    .edit .content{
        margin: 1em;
    }
}

@media (max-width: 592px){
    .single-cake .content{
        border-radius: 0;
        padding: 1em;
        grid-template-columns: 1fr !important;
        justify-items: center;
        max-width: 100vw;
        max-height: 100vh;
        position: absolute;
        grid-gap: 0;
        top: 0;
        bottom: 0;
    }

    .single-cake .content h1{
        margin: 0;
        font-size: 1.4em;
        font-style: italic;
    }

    .cake-list .content img{
        height: 18em;
    }
}
